body {
    margin: 0;
    overflow-y: auto;
    font-family: 'Poppins',sans-serif;
}


/* CSS for Login/Register Page */
/* -------------------------------------------------------------- */
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.gradient-bg-blue,
.gradient-bg-orange,
.gradient-bg-blue-reg,
.gradient-bg-orange-reg  {
    --size: 400px;
    --speed: 50s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

    position: absolute;
    transform: translate(-50%, -50%);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    z-index: 0;
}

.gradient-bg-blue {
    top: 47%;
    left: 65%;
    background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
}

.gradient-bg-blue-reg {
    top: 50%;
    left: 56%;
    background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
}

.gradient-bg-orange {
    top: 5%;
    left: 15%;
    background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
}

.gradient-bg-orange-reg {
    top: 0%;
    left: 18%;
    background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
}




.formBox,
.regFormBox {
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

.formBox {
    width: 380px;
    height: auto;
}

.regFormBox {
    width: 420px;
    height: 700px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.itemBox {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 8px;
    height: auto;
}

.regItemBox {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
}

.title {
    font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    align-self: center; 
    text-align: center;
    margin-bottom: 30px;
}

.password-title {
  font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    align-self: flex-start; 
    text-align: center;
}

.reset-password-title {
  font-size: 40px;
    font-weight: 500;
    line-height: 42px;
    align-self: center; 
    text-align: center;
}

.myForm {
    font-size: 16px;
    font-weight: 500;
    margin-top: 60px;
    width: 100%;
}

.customLabel{
    display: block;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 7px;
}



.MuiOutlinedInput-root.Mui-focused .MuiInputBase-input {
    color: rgba(0,0,0,0.87) !important;
    font-size: 0.9rem;
}

.MuiInputBase-root.Mui-focused {
    border-color: hsl(19, 78%, 61%) !important;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: hsl(19, 78%, 61%) !important;
}

.MuiInputLabel-root.Mui-focused {
    color: hsl(19, 78%, 61%) !important;
}

.forgotPasswordLink {
    font-size: 14px;
    color: hsl(19, 78%, 61%);
    text-decoration: underline;
    align-self: flex-end;
    margin-top: 5px;
}

.forgotPasswordLink:hover {
    color: hsl(19, 78%, 50%);
    text-decoration: underline;
    text-decoration-color: hsl(19, 78%, 50%); 
}

.regButton {
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 40px;
    cursor: pointer;
}

.regButton:hover {
    background-color: hsl(19, 78%, 61%); 
    color: #ffffff; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);  
    transform: scale(1.05);  
    transition: 0.5s;
}

.itemBox a {
    color: hsl(19, 78%, 61%);
    font-weight: 500;  
    text-decoration: none; 
    margin-left: 5px;  
    transition: color 0.3s ease;  
}

.itemBox a:hover {
    color: hsl(19, 78%, 50%);  
    text-decoration: underline;
    text-decoration-color: hsl(19, 78%, 50%);  
    text-underline-offset: 4px;  
    transition: color 0.3s ease, text-decoration-color 0.5s ease, text-underline-offset 0.5s ease;
}

.key-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  margin: 0 auto 1.5rem auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.instruction-text {
  text-align: center;
  color: #dddddd;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.itemBox .back-login {
  color: #FFF;
  transition: color 0.3s ease, text-decoration-color 0.5s ease, text-underline-offset 0.5s ease;
}

.itemBox .back-login:hover {
    color: hsl(19, 78%, 61%);  
    text-decoration: underline;
    text-decoration-color: hsl(19, 78%, 61%);  
    text-underline-offset: 4px;  
}

@media (max-width: 1200px) {
  .gradient-bg-blue,
  .gradient-bg-orange,
  .gradient-bg-blue-reg,
  .gradient-bg-orange-reg {
    --size: 350px;
  }
  .gradient-bg-orange {
    top: 10%;
    left: 5%;
    background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
  }

  .gradient-bg-orange-reg {
      top: 5%;
      left: 10%;
      background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
  }
}

@media (max-width: 1000px) {
  .message-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 900px) {
  .gradient-bg-blue,
  .gradient-bg-orange,
  .gradient-bg-blue-reg,
  .gradient-bg-orange-reg {
    --size: 300px;
  }

  .gradient-bg-orange {
    top: 15%;
    left: 0%;
    background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
  }

  .gradient-bg-orange-reg {
      top: 10%;
      left: 2%;
      background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
  }
  .regFormBox {
    width: 400px;
    height: auto;
    padding: 30px 25px;
    border-radius: 12px;
    margin-top: 2rem;
  }
  .formBox {
    width: 350px;
  }

  .title {
    font-size: 35px;
    line-height: 32px;
    margin-bottom: 3.0rem;
  }

  .password-title {
    font-size: 35px;
    line-height: 32px;
    margin: 1rem 0;
    align-self: flex-start;
  }

  .reset-password-title {
    font-size: 35px;
    line-height: 32px;
    margin: 1rem 0;
    align-self: center;
  }

  .customLabel {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .itemBox {
    margin-top: 6px;
    height: auto;
  }

  .regButton {
    margin-top: 20px;
    font-size: 15px;
    padding: 10px 12px;
  }

  .itemBox p {
    font-size: 13px;
  }

  .forgotPasswordLink {
    font-size: 12px;
  }

  .key-circle {
    width: 70px;
    height: 70px;
  }

  .instruction-text {
    font-size: 1.0rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .itemBox .back-login {
    font-size: 1.0rem;
  }

  .message-text {
    font-size: 0.8rem;
  }

  .MuiFormControl-root {
    margin-bottom: 10px;
  }

  .MuiOutlinedInput-input,
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 600px) {
  .gradient-bg-blue,
  .gradient-bg-orange,
  .gradient-bg-blue-reg,
  .gradient-bg-orange-reg {
    --size: 250px;
  }

  .gradient-bg-orange {
    top: 15%;
    left: 0%;
    background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
  }

  .gradient-bg-orange-reg {
      top: 10%;
      left: 2%;
      background-image: linear-gradient(hsl(19, 79%, 64%), hsl(33, 100%, 70%));
  }

  .formBox,
  .regFormBox {
    width: 320px;
    padding: 30px 25px;
    border-radius: 12px;
  }

  .title {
    font-size: 28px;
  }

  .password-title {
    font-size: 27px;
    line-height: 26px;
    margin: 1rem 0;
    align-self: flex-start;
  }

  .customLabel {
    font-size: 14px;
  }

  .regButton {
    font-size: 15px;
    padding: 10px 12px;
    margin-top: 20px;
  }

  .forgotPasswordLink {
    font-size: 12px;
  }

  .itemBox p {
    font-size: 13px;
  }

  .itemBox .back-login {
    font-size: 0.9rem;
  }

  .MuiOutlinedInput-input,
  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 400px) {
  .formBox,
  .regFormBox {
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
  }

  .title {
    font-size: 30px;
  }

  .customLabel {
    font-size: 13px;
  }

  .regButton {
    font-size: 14px;
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
  }

  .forgotPasswordLink {
    font-size: 11px;
  }

  .itemBox p {
    font-size: 12px;
  }
}


/* -------------------------------------------------------------- */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: rgba(255, 255, 255, 0.07) !important;
    color: rgba(0,0,0,0.95) !important;
    -webkit-text-fill-color: rgba(0,0,0,0.) !important;
    transition: background-color 5000s ease-in-out 0s; /* delays the autofill bg */
    box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.07) inset !important;
}

.MuiOutlinedInput-root.Mui-focused, .MuiInputBase-input {
  font-size: 1.1rem;
}

/* CSS for practice/chapters page */
/* --------------------------------------------------------------- */

/* Problems.jsx*/
.scroll-math {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  white-space: nowrap;
}

.scroll-math::-webkit-scrollbar {
  height: 8px;
}

.scroll-math::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

.fade-in {
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 3.0s ease, transform 3.0s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* SAC.jsx*/
@media print {
  .sac-page {
    page-break-after: always;
  }
}

/* CSS for Logo */
/* --------------------------------------------------------------- */
.logo-login,
.logo-register  {
    position: fixed;
    top: 30px;
    left: 30px;
    height: 100px;
    cursor: pointer;
    transition: transform 0.5s ease;
    z-index: 9999;
    transform-origin: center;
}

.logo-login:hover,
.logo-register:hover {
    transform: rotate(-30deg);
}

@media (max-width: 900px) {
  .logo-login {
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
  }

  .logo-login:hover {
    transform: translateX(-50%) rotate(-30deg);
  }

  .logo-register {
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
  }

  .logo-register:hover {
    transform: translateX(-50%) rotate(-30deg);
  }

  .message-text {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
    .logo-login {
        top: 90px;
        left: 50%;
        height: 80px;
    }

    .logo-register {
        top: 40px;
        left: 50%;
        height: 80px;
    }
    .message-text {
      font-size: 0.7rem;
    }
}


