$gray: #2E2E2E;
$dark-gray: #1F1F1F;
$vibrant-blue: #3D5A80;
$light-blue: #4FC3F7;
$orange: hsl(19, 78%, 61%);
$dark-orange: hsl(19, 59%, 50%);
$white: #FFF;

.practice-page { 
    background: $gray;
    min-height: 100vh;
}

.practice-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 3rem 2rem;
    font-family: 'Poppins', sans-serif;

    .subtitle {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: $orange;
    }
    h1 {
        font-size: 4.0rem;
        text-align: center;
        margin-bottom: 3rem;
        font-weight: 700;
        color: #fff;
    }

    .practice-description {
      max-width: 900px;
      margin: 0 auto 1rem auto;
      font-size: 1.1rem;
      line-height: 1.8;
      text-align: center;
      font-weight: 500;
      padding: 0 1rem;
      color: #fff;
    }

    .side-note-practice,
    .side-note {
      max-width: 1000px;
      font-size: 1.1rem;
      line-height: 1.8;
      text-align: center;
      font-weight: 400;
      padding: 0 1rem;
      color: $orange;
      font-family: 'Courier New';
      margin: 0 auto 0 auto;
    }
    .contact-question,
    .contact-question-practice {
      max-width: 1000px;
      font-size: 1.0rem;
      line-height: 1.8;
      text-align: center;
      font-weight: 400;
      padding: 0 1rem;
      color: $light-blue;
      font-family: 'Courier New';
    }
    
    .contact-question {
      margin: 1.5rem auto 3rem auto;
    }
    .contact-question-practice {
      margin: 1rem auto 0rem auto;
    }

    .contribute-box {
      background: linear-gradient(145deg, #2b2b2b, #3d3d3d); 
      border-radius: 12px;
      border: 2px solid #FFD180; 
      box-shadow: 0 0 0 2px #3d3d3d, 4px 4px 0 #FF7043; 
      padding: 1rem 1.5rem;
      font-weight: 600;
      font-family: 'Courier New', monospace; 
      color: #FFF3E0; 
      max-width: 320px;
      margin-left: auto;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      transition: all 0.3s ease;

      &:hover {
        background: linear-gradient(145deg, #3d3d3d, #2b2b2b);
        box-shadow: 0 0 0 2px #3d3d3d, 4px 4px 0 #FF8A65;
        cursor: pointer;
      }

      .pencil-icon-text {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1rem;
      }

      .pencil-icon {
        font-size: 1.5rem;
        color: #FFCC80;
      }
    }

    .chapter-section {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .chapter-wrapper {
        display: flex;
        background: $dark-gray;
        border: 2px solid #FFB74D; 
        border-radius: 0; 
        box-shadow:
          5px 5px 0 #FF7043;
        overflow: hidden;
        min-height: 260px;
        margin-bottom: 2rem;
        transition: border 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
        font-family: 'Courier New', monospace; 

        &:hover {
            border: 2px solid #FF5722; 
            transform: translateY(-4px);
            box-shadow:
              0 0 0 2px #1a1a1a,
              5px 5px 0 #FF7043,
              -5px -5px 0 #FF7043;
            background-color: #2b2b2b;
        }
    }

    .chapter-heading {
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 4rem;
      color: $white;
      text-align: center;
    }

    .chapter-left-box {
      flex: 1;
      padding: 2rem;
      color: #fff;
      display: flex;
      flex-direction: column;
      border-right: 2px solid #444;

      .chapter-description {
          font-size: 1.1rem;
          color: #ccc;
          line-height: 1.7;
      }
    }

    .chapter-right-box {
      flex: 1;
      padding: 2rem;
      color: #fff;

      .topics-table {
        width: 100%;
        border-collapse: collapse;

        td {
          font-size: 1.1rem;
          padding: 1.2rem;
          border-bottom: 2px solid #444;
        }

        .topic-text {
          transition: color 0.3s ease;
          cursor: pointer;

          &:hover {
              color: #00B4D8;
          }
        }

        tr:last-child td {
          border-bottom: none;
        }
      }
    }
}

.dividerMenu {
  border: none;
  height: 4px;
  width: 100%;
  margin: 0 0 4rem 0;
  background-image: repeating-linear-gradient(
    to right,
    #FF7043 0px,
    #FF7043 4px,
    transparent 4px,
    transparent 8px
  );
}


.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.coming-soon {
  font-family:'Courier New', monospace;
  align-items: center; 
  text-align: center;
  font-size: 3.0rem;
  font-weight: 700;
  color: $white;
  margin: 8rem 0;
  letter-spacing: 1px;
}

.flipping-hourglass {
  font-size: 2.5rem;
  display: inline-block;
  animation: flipHourglass 2.0s infinite linear;
}

@keyframes flipHourglass {
  0% { transform: rotate(0deg); }
  25% { transform: rotateX(180deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotateX(360deg); }
  100% { transform: rotate(360deg); }
}

@keyframes backgroundShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@media (max-width: 1000px) {
  .practice-container {
    padding: 2.5rem 1.5rem;

    h1 {
      font-size: 3rem;
    }

    .chapter-left-box {
        .chapter-description {
            font-size: 1.05rem;
        }
    }

    .side-note-practice {
      font-size: 1rem;
    }

    .contribute-box {
      max-width: 300px;
      font-size: 1.0rem;
      padding: 1rem 1.2rem;

      .pencil-icon {
        font-size: 1.5rem;
      }

      .pencil-icon-text {
        gap: 0.6rem;
        font-size: 1.0rem;
      }
    }

    .chapter-heading {
      font-size: 2.2rem;
    }

    .chapter-wrapper {
      flex-direction: column;
    }

    .chapter-right-box {
      border-right: none;
      border-top: 2px solid #444;
    }

    .chapter-left-box{
      padding: 1.5rem;
      border-right: none;
    }

    .chapter-right-box {
      padding: 1.25rem;
    }
  }
}

@media (max-width: 768px) {
  .practice-container {
    padding: 2rem 1rem;

    h1 {
      font-size: 2.7rem;
    }

    .chapter-left-box {
        .chapter-description {
            font-size: 0.95rem;
        }
    }

    span {
        font-size: 1.05rem;
    }

    .flipping-hourglass {
        font-size: 2.0rem;
    }

    .subtitle {
      font-size: 1.2rem;
    }

    .practice-description,
    .side-note-practice {
      font-size: 1rem;
      padding: 0;
    }

    .contact-question-practice,
    .contact-question {
      font-size: 0.9rem;
    }

    .side-note {
      font-size: 1rem;
    }

    .contribute-box {
      max-width: 55%;
      font-size: 0.8rem;
      padding: 0.8rem 1rem;

      .pencil-icon {
        font-size: 1.2rem;
      }

      .pencil-icon-text {
        gap: 0.6rem;
        font-size: 0.95rem;
      }
    }

    .chapter-heading {
      font-size: 2rem;
    }

    .chapter-description {
      font-size: 1rem;
    }

    .topics-table td {
      font-size: 1rem;
      padding: 1rem;
    }

    .coming-soon {
      font-size: 2.0rem;
      margin: 6rem 0;
    }
  }
}

@media (max-width: 480px) {
  .practice-container {
    padding: 1.5rem 1rem;

    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    .chapter-left-box {
        .chapter-description {
            font-size: 0.90rem;
        }
    }
    
    span {
        font-size: 0.90rem;
    }

    .flipping-hourglass {
        font-size: 1.8rem;
    }

    .subtitle {
      font-size: 1.15rem;
    }

    .practice-description,
    .side-note-practice,
    .side-note {
      font-size: 0.8rem;
    }

    .contact-question-practice,
    .contact-question {
      font-size: 0.8rem;
    }

    .contribute-box {
      margin: 1.5rem auto;
      max-width: 70%;
      font-size: 0.75rem;
      padding: 0.4rem 1rem;

      .pencil-icon {
        font-size: 0.9rem;
      }

      .pencil-icon-text {
        gap: 0.6rem;
        font-size: 0.75rem;
      }
    }

    .chapter-heading {
      font-size: 1.6rem;
    }

    .chapter-description {
      font-size: 0.95rem;
    }

    .topics-table td {
      font-size: 0.95rem;
      padding: 0.9rem;
    }

    .coming-soon {
      font-size: 1.5rem;
      margin: 6rem 0;
    }
  }
}
