.venv/
.env
*.sqlite3

__pycache__/
*.pyc
*.pyo
*.pyd

.vscode/

.venv/
test.md
test2.md
vce/problems/data/

db.sqlite3
db.sqlite3-journal
*.log

build/
dist/
*.egg-info/

.pytest_cache/
.coverage
htmlcov/
tests
